[2019-04-28 10:52] samuelbirch opened #1 "Relabel Name & Instructions"
Great plugin.

It would be awesome if you could override the field name and instructions via the config file too, for fields in different groups.

[2019-04-28 11:22] samuelbirch opened #2 "Required"
It would also be great if we could override the required field status from within the config on a per field in a tab basis

[2019-05-09 13:56] naboo opened #3 "CSS glitch when close to browser bottom edge"
When you are close to the browser bottom edge, and you have one group with only one type in it there's a small CSS glitch. If you have two types in the group the popup goes up, instead of down.

![Untitled-1](https://user-images.githubusercontent.com/1220045/57459164-f98b3980-7272-11e9-9b34-99bc07eec943.png)

[2019-05-09 14:03] naboo opened #4 "CSS issue with collapsed blocks"
When I use collapsed blocks the layout gets messed up. See attached. Works perfectly fine not collapsed.

![Screenshot_2019-05-09 🚧⚙ Blocks - KÖPA](https://user-images.githubusercontent.com/1220045/57459659-ef1d6f80-7273-11e9-981a-e3a33f3112ed.png)

[2019-05-09 17:16] mmikkel commented on #4
Ouch, thanks for reporting @naboo – I'll get that sorted ASAP.

[2019-05-09 17:21] mmikkel commented on #3
@naboo Thanks for reporting! That looks like it could do with a bit of polish, for sure.

Which browser are you using in the above screenshot?

[2019-05-09 18:32] naboo commented on #3
Latest Firefox :)

Den tors 9 maj 2019 19:21M. Mikkel Rummelhoff <notifications@github.com>
skrev:

[2019-05-09 19:32] mmikkel commented on #4
Should be resolved in [v1.1.3](https://github.com/vaersaagod/matrixmate/releases/tag/v1.1.3)!

[2019-05-09 19:32] #4 closed

[2019-05-09 19:33] mmikkel commented on #3
Should be resolved in [v1.1.3](https://github.com/vaersaagod/matrixmate/releases/tag/v1.1.3)!

[2019-05-09 19:33] #3 closed

[2019-05-23 10:06] mmikkel commented on #1
Hi @samuelbirch, thanks for contributing and sorry for the very late reply.

No promises (I'm actually not a huge fan of relabelling as a concept), but I'll leave the FR open for now, and will give it some thought.

[2019-05-23 10:11] mmikkel commented on #2
Hi @samuelbirch – again, sorry for the very late reply.

Back when I built [Reasons](https://github.com/mmikkel/Reasons-Craft) for Craft 2, I went down the rabbit hole in trying to override the `required` status for specific fields. It was basically impossible to do then, and I don't think this has changed much in Craft 3 (basically, required fields are evaluated when Craft validates elements befo

[2019-05-28 11:46] JorgeAnzola opened #7 "Localised settings"
All of our websites have at least two languages. Sometimes it would be great to have different blocks per site, hiding some:

[code]

Update: I removed the "hidding blocks" part, cause rtfm, right?

[2019-05-29 09:43] JorgeAnzola opened #8 "Breaks when there's a super table field"
Apparently, the two plugins are not getting along.

This in the field settings:
<img width="903" alt="Screen Shot 2019-05-29 at 11 40 53" src="https://user-images.githubusercontent.com/15676614/58546962-c6e7b780-8206-11e9-8e87-54f1d28bb8ee.png">

in the input nothing is displayed.

MatrixMate 1.1.4
Super Table 2.1.20
Craft Pro CMS 3.1.28

[2019-05-29 09:46] mmikkel commented on #8
Hi @JorgeAnzola – thanks for reporting. What's your setup here – do you have a Matrix field nested inside a SuperTable field, or are the SuperTable and Matrix fields separate fields in the layout?

Can you provide a copy of your `config/matrixmate.php` file (at least the relevant bits)?

Note that MatrixMate does *not* support Matrix fields nested in SuperTable fields – although stuff should obvio

[2019-05-29 11:47] mmikkel commented on #8
@JorgeAnzola I was able to reproduce an issue where a Matrix field nested in a SuperTable would be hidden, and just pushed a fix for this problem in [MatrixMate 1.1.5](https://github.com/vaersaagod/matrixmate/releases/tag/v1.1.5).

[2019-05-29 11:47] #8 closed

[2019-08-28 11:32] rungta opened #9 "Cannot hide fields with just one tab"
We have a block `links` with just two fields (`heading` and `linkslist`), and I would like to hide one of those fields (`heading`) in a particular context. This is the configuration I’m using to try and achieve this:

[code]

But it does not seem to have the intended effect. Both fields are visible with no tabs rendered, and no JS errors in the console. If I remove `'defaultTabName' => false,` the

[2019-08-30 08:46] mmikkel commented on #9
Hi @rungta – thanks for reporting!

If you create a single tab, MatrixMate will actually render _no_ tabs - which was a conscious decision on our end, because we assumed "tabs are pointless if you only have one". We didn't consider this use case though.

I think the fix for this is to have MatrixMate actually render that single tab (which will effectively hide your `heading` field w/ your current

[2019-08-30 11:45] #9 closed

[2019-08-30 12:04] rungta commented on #9
Thanks for the fix @mmikkel!

I'd resorted to an ugly hack by setting the `defaultTabName` to some whitespace.

[2019-08-30 12:36] mmikkel commented on #9
Hi @rungta, I just published [MatrixMate v1.2.0](https://github.com/vaersaagod/matrixmate/releases/tag/v1.2.0), which changes how single tabs are rendered – so your original code should work.

Additionally, there's a new [`hiddenFields`](https://github.com/vaersaagod/matrixmate#hide-fields) setting available, so whenever you need to hide one or several fields in a type config, you don't have to re

[2019-09-26 14:54] rocknrolaf opened #10 "Apply Context on HUD Modal"
Hi!
First of all really nice plugin! There is one issue when using the modal HUD on entries fields and creating new entries which have Matrix Fields via the button in the modal.

I tried adding a piece of code in the init method which seems to work:

[code]
Maybe you could take a look. Thank You!

[2019-09-26 19:23] Mosnar opened #11 "Matrix blocks are invisible while viewing revisions"
While viewing revisions, there is some CSS applied that makes the matrix blocks invisible.
![image](https://user-images.githubusercontent.com/3810939/65718394-6f9d0b00-e071-11e9-90f7-a65381a675cd.png)

Craft 3.3.5
MatrixMate 1.2.1

[2019-09-28 11:19] mmikkel commented on #10
Hi @rocknrolaf, thanks a lot for contributing!

Yes, there's definitely issues with element editor modals. Thanks a lot for the code snippet – your solution seems to work when creating new entries, but not for editing existing ones. Also, we should probably support category editor modals, as well.

Hopefully I'll be able to figure a fix shortly.

[2019-09-28 11:42] mmikkel commented on #11
Thanks for reporting, @Mosnar – I'll try to get a fix out shortly.

[2019-09-29 10:48] mmikkel commented on #11
Hi @Mosnar – this issue should be resolved in [MatrixMate 1.2.2](https://github.com/vaersaagod/matrixmate/releases/tag/v1.2.2).

[2019-09-29 10:48] #11 closed

[2019-09-29 10:48] mmikkel commented on #10
Hi @rocknrolaf – this issue should be resolved in [MatrixMate 1.2.2](https://github.com/vaersaagod/matrixmate/releases/tag/v1.2.2).

[2019-09-29 10:48] #10 closed

[2019-10-17 18:00] ryanmasuga opened #12 "Field appearing out of order in tabs"
We have types with tabs that won't display the fields in the order we want them.

Relevant part of the Config:
[code]
On this one, the "alignment" field is always displaying at the bottom of the Matrix block, but we want that to display first, and the CTA Button last. Other tabs in this type are displaying in correct order.

![image](https://user-images.githubusercontent.com/988995/67034038-f67b5b

[2019-10-17 18:34] mmikkel commented on #12
MatrixMate doesn't actually change the order of the block type's fields when you arrange them into tabs – if the `alignment` field sits below the `textField` in the block type's field layout, it's going to appear below it in a tab, no matter what order you use for the `'fields'` in the MatrixMate config.

In other words, I don't think there's a bug here – you're probably just seeing the fields ren

[2019-10-17 18:51] mmikkel commented on #12
To be clear though, the current behaviour is a deliberate design choice. We could definitely add a config setting (that works similarly to the [`defaultTabName`](https://github.com/vaersaagod/matrixmate#defaulttabname-stringbool) setting, i.e. being possible to set both on a per-field and per-type basis) called `useTabFieldOrder` or something, that would make MatrixMate use the field order from th

[2019-10-17 20:47] ryanmasuga commented on #12
Thanks for the clarification. I updated field order in the Matrix block settings and those changes were reflected correctly on the entries in the CP. So - correct, not a bug, but it would be a nice enhancement to be able to override that with a config variable!

[2019-10-17 22:36] daltonrooney opened #13 "Context for Entry ID?"
I'm sure this could be accomplished with an advanced PHP configuration, but I'm wondering how hard it would be to add Entry ID as a context? Sometimes we have one-off feature blocks for a specific page, but otherwise the template isn't different enough to warrant its own entry type.

[2019-10-18 17:13] daltonrooney commented on #13
@mmikkel I definitely understand that this is an edge case and the need to avoid additional complexity in the plugin. I'm curious to hear your thoughts on why this would be a bad practice, though?

My other thought for adding in these one-off custom features inline with a matrix would be to add some kind of shortcode functionality, which has drawbacks of it's own.

[2019-10-19 08:18] mmikkel commented on #13
@daltonrooney In my opinion it's a bad practice because individual entries, compared to Entry Types or Single sections, are by nature much more ephemeral, so it never made sense to me to have hard coded logic (or config) dependant on a particular entry ID. Since entries are more easily disposed of than Sections and Entry Types, there's a good chance you'll end up with dead code at some point (and

[2019-11-27 12:48] rungta opened #14 "1.2.2 appears to be buggy"
We just noticed that MatrixMate had stopped functioning across two of our projects. Tried rolling back to 1.2.1 and things were back to normal. Haven’t been able to dig in and locate the root cause yet, but thought I’d report it anyway.

[2019-11-27 14:30] mmikkel commented on #14
Hi @rungta, thanks for reporting.

Yeah... that's not a lot to go on :) We're using 1.2.2 on several projects and aren't aware of any issues.

If you're able, the following info would be great:

– Craft version
– List of other plugins installed
– Any JS errors logged in your browser's dev console
– Your `matrixmate.php` config file

[2019-11-27 15:25] rungta commented on #14
I know, sorry about that. Had to switch back quickly to restore functionality first.

- Craft version: 3.3.15
- List of other plugins installed: Agnostic Fetch 2.0.4, Cache Flag 1.0.3, Calendar Links 1.0.1, Child Me! 1.0.6, Colour Swatches 1.2.3, Control Panel CSS 2.2.0, Element Index Defaults 1.0.3, Environment Label 3.1.5, Feed Me 4.1.2, Fingerprint Assets 1.0.1, iCalendar 1.1.0, Imager v2.3.0,

[2019-11-28 20:14] mmikkel commented on #14
Thank you for the additional info @rungta. I'll try to reproduce the issue ASAP.

Just a sanity check; from looking at the above config snippet, you've got a Matrix field `nav` with a block type `group`, correct?

[2019-12-02 07:57] rungta commented on #14
That’s right, @mmikkel.

[2020-02-15 08:54] umkasanki opened #15 "Add border of titlebar"
Hello.
Could you add a little border of titlebar to improve the visual structuring of the tabbed matrix block?

Maybe something like this:
`border-bottom: 1px solid rgba(51, 64, 77, 0.1)`

Result:
![изображение](https://user-images.githubusercontent.com/496132/74585044-c936af80-4fe9-11ea-8002-83c7b1abe1ed.png)

Thanks for great plugin!

[2020-02-15 22:23] mmikkel commented on #15
Hi @umkasanki, thanks a ton for contributing!

P&T removed that border from the titlebar very recently (Craft 3.4.5); I hadn't noticed before this issue made me aware of it, so thank you for the heads up and the PR!

I just published [MatrixMate 1.2.4](https://github.com/vaersaagod/matrixmate/releases/tag/v1.2.4) which includes your CSS fix. I'm not merging the actual PR because I opted to only ad

[2020-02-15 22:23] #15 closed

[2020-02-15 22:24] #14 closed

[2020-02-15 22:25] #2 closed

[2020-02-15 22:25] #1 closed

[2020-02-15 22:25] #13 closed

[2020-02-18 14:51] ragnarfrosti opened #17 "MatrixMate problems in multi-site setup"
We are having some issues using MatrixMate in a multi-site setup when editing an entry.

You probably need to include the siteId parameter in `getEntryById` function (row 130ish) in `onAfterLoadPlugins` function in MatrixMate.php, else it will not find any entries from other sites than the default site.

[code]
So it will look something like this:

[code]

Best regards,
Ragnar

[2020-02-18 14:54] mmikkel commented on #17
Hi Ragnar,

Good catch, thanks. This should only be an issue for non-propagating sections in multi-site setups, but I'll definitely get a fix out ASAP :)

[2020-02-21 12:17] jamiewade opened #18 "Double borders with Craft 3.4.7"
Craft 3.4.7 is now out which has introduced some improvements to the matrix block UI: https://github.com/craftcms/cms/issues/5652#issuecomment-589081201

However this has now introduced a double borders issue with the plugin:

![Screenshot_2020-02-21 Sitemap - Arebray](https://user-images.githubusercontent.com/6672331/75034009-2330ec80-54a4-11ea-906f-763a4a2db32a.png)

[2020-02-21 12:50] mmikkel commented on #18
Thanks for reporting @jamiewade.

[2020-02-29 16:35] mmikkel commented on #18
I just published [MatrixMate 1.2.5](https://github.com/vaersaagod/matrixmate/releases/tag/v1.2.5), which fixes this issue.

[2020-02-29 16:35] #18 closed

[2020-02-29 16:35] mmikkel commented on #17
I just published [MatrixMate 1.2.5](https://github.com/vaersaagod/matrixmate/releases/tag/v1.2.5), which should resolve this issue.

[2020-02-29 16:35] #17 closed

[2020-03-17 14:42] jan-thoma opened #19 "Redactor link functionality"
When using maxtrixmate in combination with redactor. The add Files and Link popup is located under the popup. see screenshot.
![Bildschirmfoto 2020-03-17 um 15 41 45](https://user-images.githubusercontent.com/24450307/76867473-dacbdb00-6865-11ea-92ae-8829f33e0a02.png)

[2020-03-17 14:58] mmikkel commented on #19
I'm only able to reproduce this when editing an entry in an element editor modal, and it happens regardless of whether MatrixMate is installed/enabled or not.

Probably a bug in Craft or the Redactor plugin?

(I tested on Craft 3.4.9 & Redactor 2.6.0.1)

[2020-03-18 10:18] mmikkel commented on #19
I can confirm that this is a bug in Craft or the Redactor plugin. I created an [issue over at the Craft repo](https://github.com/craftcms/cms/issues/5805).

[2020-03-18 10:18] #19 closed

[2020-03-18 14:56] mmikkel commented on #19
[Redactor 2.6.1 is out now, which resolves this issue.](https://github.com/craftcms/redactor/issues/215)

[2020-04-28 13:35] chasegiunta opened #20 "Specify display order of ungrouped blocks"
First of all, huge thank you for filling the functionality gaps with this plugin!

Apologies if this is somehow already possible and I missed it, but I believe currently, if you're not specifying a group for a block type to reside in, it will always show up _first_ in the order of groups.

![image](https://user-images.githubusercontent.com/1377169/80493183-b0704180-892a-11ea-8860-ce70f874d2af.png)

[2020-04-28 13:47] mmikkel commented on #20
Hi @chasegiunta, thanks for the input!

I agree, that'd be a nice little feature/setting. I'll look into adding that sometime soon.

[2020-05-04 18:54] rungta opened #21 "[FR] Add support for a field level maxLimit"
It would be great to have support for controlling the maximum number of blocks permitted for a Matrix field regardless of block type. Craft lets us configure this number while creating a matrix field but sometimes different limits are appropriate for different contexts.

[2020-05-28 14:06] rungta commented on #14
Hello again @mmikkel!

So I ran into a similar issue this week where MatrixMate (and some of your other essential plugins like _CP Field Inspect_, _Child Me!_ etc.) suddenly stopped working, as if they had been uninstalled. I hadn’t updated any of them so I decided to investigate what in my code had changed and isolated it to calling `Craft::$app->user->isAdmin` in my module's `init()` method.

On

[2020-05-28 20:51] mmikkel commented on #14
Hi @rungta,

Yeah, that's a [known issue](https://github.com/mmikkel/CpFieldInspect-Craft#cogwheels-not-appearing) with Craft.

TL;DR – never call `Craft::$app->user->isAdmin` (or `Craft::$app->user->getIdentity()`) inside a module's `init()` method or constructor – it makes Craft behave all sorts of funny. Personally I've had good results by deferring those method calls to an [`EVENT_AFTER_LOAD_P

[2020-05-29 08:48] rungta commented on #14
Ah right. Should’ve checked the docs first! Thanks, and sorry for the trouble.

[2020-05-29 08:48] mmikkel commented on #14
@rungta No trouble at all :)

[2020-06-02 14:44] onebrightlight opened #22 "Solspace Calendar Support"
Currently MatrixMate only supports contexts for Entries, Categories, Global Sets and User groups.

It’d be great if it could support @Solspace’s Calendar Event elements as well. Currently I am restricted from adding our standard content builder to its pages as there is no way to customize the available blocks and tabs to it. I can leverage some CSS and JS to hide them myself, but obviously this is

[2020-06-03 09:46] masiorama opened #23 "Cannot install on 3.4.22.1, unable to determine the base path"
Hello, I just tried to install the plugin on the latest Craft CMS version 3.4.22.1, but it is not working.
This is the message:
`
[craft\composer\InvalidPluginException]
  Couldn't install vaersaagod/matrixmate: Unable to determine the base path
`

What am I doing wrong? Any suggestions?
Thanks in advance.

[2020-06-03 10:02] mmikkel commented on #23
Haven't seen that error before, and I'm not able to reproduce this (just tested installing MatrixMate on a fresh 3.4.22.1 install, both using Composer and via the Control Panel).

Are you able to install other plugins?

[2020-06-03 10:12] masiorama commented on #23
Yes, I just tried to install another plugin via the CP and it worked wihout issues.
Tried again via CP with MatrixMate and the complete log is this:

[2020-06-03 10:15] masiorama commented on #23
Ok I just notices it could be a cache problem. I'll be back in a minute.

[2020-06-03 10:16] mmikkel commented on #23
That's odd. I considered a possible capitalization issue, but I don't think there are any in the plugin source files.

Can you try `composer clear-cache && composer require vaersaagod/matrixmate` and see if that works? If not, I think this might be an issue for the Craft repo.

[2020-06-03 10:16] mmikkel commented on #23
Also, which environment are you on? Mac/Windows/VM?

[2020-06-03 10:19] masiorama commented on #23
Ok it was a cache problem indeed. It happened because the first time I tried to install my laptop crashed (I'm struggling with it for weeks) in the middle of the operation, therefore broken cached package.
Tried with `composer clearcache` and then installed the plugin via CP and it worked like a charm.
Thanks for all!

[2020-06-03 10:19] #23 closed

[2020-06-03 10:20] mmikkel commented on #23
Awesome, thanks for following up :)

[2020-06-05 11:28] mmikkel commented on #22
Hi @onebrightlight – I can probably add support for Calendar Events as a context, but I don't know exactly when I get around to it (I'd also accept a PR that added support, if you're up for it).

In the meantime, if you really need this ASAP, you can actually hack it in yourself.

The nice thing about having a PHP-based config is that it's... PHP. So there's nothing stopping you from using some PH

[2020-06-24 14:15] masiorama opened #24 "Translate in a different language"
Hello, I encounter an error log message due to the fact that the plugin translation is available only in english (aka /src/translations/en/matrixmate.php). The message I get is
`The message file for category 'matrixmate' does not exist: /shared/httpd/masiorama2/vendor/vaersaagod/matrixmate/src/translations/it-IT/matrixmate.php Fallback file does not exist as well: /shared/httpd/masiorama2/vendor/v

[2020-07-13 14:17] jan-dh opened #25 "FR: add extra context: site"
I would love to be able to have a little more control in a multi-site setup. Being able to add another matrix layout based on what site or sitegroup you are on would be really helpful.

[2020-07-15 14:38] dowadidi commented on #25
You could use the request data in a switch statement like this:

[code]

Not exactly what you're asking, but it could be a start?

[2020-07-15 14:47] dowadidi commented on #7
@JorgeAnzola This might help in the meantime: https://github.com/vaersaagod/matrixmate/issues/25#issuecomment-658807857

[2020-07-17 08:03] dowadidi commented on #25
**Note**: Craft won't work in the console environment. This will fix that.
[code]

[2020-07-17 09:22] mmikkel commented on #24
Hi @masiorama – sorry for the late reply.

Copying the `matrixmate.php` translations file to your site's `translations/it` folder is the right way to solve it :)

Like you say, it's just a log message and not really an error, and we can't/won't bundle a translation file for every locale supported by Yii.

[2020-07-17 09:22] #24 closed

[2020-07-30 10:26] adrienpicard opened #26 "Compatibility with Craft 3.5"
**Description**
The new field layout in 3.5 introduces a bug where Tabs are not created in Matrix Blocks.

**Steps to reproduce**

1. Upgrade to Craft ^3.5.0-RC1
2. Define one or more tabs in matrixmate.php for one Matrix fields

**Additional info**
Fields structure has changed and are now wrapped in a `.flex-fields` element.

[2020-07-30 10:27] mmikkel commented on #26
Thanks for reporting that @adrienpicard. I'll get a fix out shortly.

[2020-07-30 12:52] mmikkel commented on #26
Should be resolved in [MatrixMate v1.2.6](https://github.com/vaersaagod/matrixmate/releases/tag/v1.2.6)

[2020-07-30 12:52] #26 closed

[2020-07-30 12:58] adrienpicard commented on #26
Thanks for the quick fix @mmikkel

[2020-08-14 23:08] TheFunkyMonk opened #27 "Not working with Craft 3.5 custom field widths"
## Description

When MatrixMate is handling the grouping of a matrix field into tabs, the new "Custom Field Widths" feature in Craft 3.5 (under "Author Experience" in the [release post](https://craftcms.com/blog/craft-3-5-released)) does not work.

I totally realize this is a brand new feature and could take some time to support, just thought I'd give you a heads up.

## Steps to Reproduce

1. Set

[2020-08-15 08:56] mmikkel commented on #27
Thanks for reporting @TheFunkyMonk – should be resolved in [MatrixMate v1.2.7](https://github.com/vaersaagod/matrixmate/releases/tag/v1.2.7)

[2020-08-15 08:56] #27 closed

[2021-02-02 17:53] davist11 opened #28 "[Question/Feature Request] Support for matrix nested in super table"
Is there a plan/timeline for supporting matrix fields nested inside super table?

[2021-02-02 18:58] mmikkel commented on #28
Hi @davist11 👋

Sorry, we have no plans to implement support for nested Matrix fields. I believe the Spoon plugin does it, though.

[2021-02-02 18:58] #28 closed

[2021-02-02 19:02] davist11 commented on #28
Got it, thanks! Hah we just like MatrixMate so much more...

[2021-03-26 10:15] dgsiegel opened #29 "Global configuration is not applied to other sections"
Suppose you have a configuration file like this one:

[code]

I would expect that groups applied for `*` would also apply for all groups below, e.g. `entryType:contentType`. But `entryType:contentType` starts with an empty configuration and I would have to duplicate `groups`.

[2021-03-29 19:38] mmikkel commented on #29
That behaviour is by design. I think that recursively merging the global context into the context specific ones would quickly become unwieldy for anything except the simplest configs – which is why we chose to do it like that and not mimic how Craft's multi-environment configs work.

You can always accomplish what you need using some PHP, though. Something like this should work:

[code]

[2021-03-29 19:38] #29 closed

[2021-03-30 14:14] dgsiegel commented on #29
Works great, thanks! Might be a great addition to the Readme, as I assumed it would work like Craft's multi-environment configs.

[2021-03-30 15:58] mmikkel commented on #29
@dgsiegel Sure, a bit of clarification in the docs couldn't hurt. I'll look into adding that!

[2021-05-03 14:08] Joorren opened #30 "Tabs not working for specific matrixblocks inside matrixblocks"
Using the configuration below, tabs do show for the 'contentBlocks' (main Matrix) and 'hero' (child Matrix) matrix blocks.
But I cannot seem to get it working for the 'columns' (child Matrix) and 'callToAction' (child Matrix) matrix blocks.

Is there something I'm missing or misunderstood?

This is a _small_ preview of what my Matrix field looks like:

---

[code]

[2021-05-03 15:32] mmikkel commented on #30
This is expected behavior; MatrixMate does not support Matrix fields nested in SuperTable or Neo fields.

You might want to check out the Spoon plugin if you need nested Matrx support.

[2021-05-03 15:32] #30 closed

[2021-05-04 09:09] Joorren commented on #30
Thanks for the answer!

Would you have any idea why it does work for the hero MatrixBlock, that's inside the contentBlocks MatrixBlock? That's the reason why I thought it should work for the other ones too 😛

[2021-05-04 09:15] mmikkel commented on #30
Right, I didn't catch that detail in your original post 😅

If MatrixMate actually works for a Matrix field inside a SuperTable, that'd technically be a bug on our end, as we specifically designed and intended for MatrixMate to not initialise on any Matrix field nested in a different field.

[2021-05-04 09:16] mmikkel opened #31 "MatrixMate initialises for Matrix fields inside SuperTable fields"
As reported by #30, it appears that MatrixMate initialises for Matrix fields nested in SuperTable fields. It's not supposed to do that.

[2021-05-28 13:41] Joorren opened #32 "Cloning matrix block doesn't show tabs"
### Description
When you clone an existing matrix block ([Smith](https://github.com/verbb/smith) feature), the matrix block gets cloned, but the fields inside the newly created matrix block won't get divided into their associated tabs. This makes the matrix block messy and cluttered.

### Preview
https://user-images.githubusercontent.com/22602428/119991569-e36f8380-bfc9-11eb-94c6-b788d099e7b1.mov

[2021-05-28 14:07] mmikkel commented on #32
I think this is something that should be fixed in Smith, not in MatrixMate.

Most likely, the Smith plugin just needs to make sure that when it clones a block, the Matrix field's `Craft.MatrixInput` instance emits the same JavaScript event(s) that are emitted when blocks are added natively – specifically, the `blockAdded` event, which [MatrixMate listens to](https://github.com/vaersaagod/matrixmat

[2021-05-28 14:13] #32 closed, assigned to nobody

[2021-05-28 14:28] Joorren commented on #32
https://github.com/verbb/smith/issues/18

[2021-06-01 20:15] daltonrooney opened #33 "Add ability to add icons to block labels"
I was wondering how hard it would be to support icons in the matrix dropdown?

![Screen Shot 2021-06-01 at 1 10 20 PM](https://user-images.githubusercontent.com/742045/120384296-d2c95100-c2da-11eb-9f6f-9a513e768e25.png)

I was just testing out [Vizy](https://verbb.io/craft-plugins/vizy/features) and the visual block chooser is very nice:

![Screen Shot 2021-06-01 at 1 12 23 PM](https://user-images

[2021-06-01 20:18] mmikkel commented on #33
Interesting idea, thanks. I'll give it a think.

[2021-06-11 01:19] japo32 commented on #31
I can verify that this is indeed a bug.

![Screen Shot 2021-06-11 at 1 17 53 PM](https://user-images.githubusercontent.com/676680/121616731-94404d00-cab7-11eb-8047-b8bf4261f152.png)

[2021-11-09 05:16] reachpriti12 opened #35 "Change of Entry Types leave the fields saved"
Hi, I need help with Matrix Mate plugin. Currently, we have two different types of entry type. Entry type 1 has image gallery and entry type two doesn’t have image gallery that how we have set the matrixmate.

What is happening is when I switch from entry1 to entry 2 I can still see the image gallery in entry 2. Shouldn’t it be switch to entry2 fields assigned.

[2021-11-09 07:30] mmikkel commented on #35
Hi @reachpriti12, can you share your `config/matrixmate.php` file?

[2021-11-09 07:32] reachpriti12 commented on #35
[code]

[2021-11-09 07:34] reachpriti12 commented on #35
Here what is happening is when I turn my content entry type to childListing or newsListing. If the admin user has earlier added image gallery or any other content in the content entry type after switching to childListing it will still display there.

[2021-11-09 07:43] mmikkel opened #36 "MatrixMate always uses the canonical entry's entry type"
If the entry type for an existing entry is changed in a draft (provisional or "real"), MatrixMate will load the config for the canonical entry's entry type when the page is reloaded.

[2021-11-09 07:49] mmikkel commented on #35
That's expected. MatrixMate won't hide existing blocks, only block type buttons – meaning the the "Image Gallery" button shouldn't be visible for your `childListing` or `newsListing` entry types, but any existing Image Gallery blocks will still be visible (both in the control panel and on the frontend of your site, unless you filter them out in Twig).

[2021-11-09 07:49] #35 closed

[2021-11-09 07:50] reachpriti12 commented on #35
Is there any best way to work around this as client keeps making mistake around this,

[2021-11-09 07:53] mmikkel commented on #12
Closing this. The current behaviour is by design and upon reflection I'm not really interested in adding a `useTabFieldOrder` setting.

[2021-11-09 07:53] #12 closed

[2021-11-09 07:55] mmikkel commented on #22
Decided not to support any third party plugins, due to desire to retain my sanity.

[2021-11-09 07:55] #22 closed

[2021-11-09 07:57] mmikkel commented on #33
Gave it a good think and decided not to implement something like this. Thanks for the suggestion, though (would probably accept a PR).

[2021-11-09 07:57] #33 closed

[2021-11-09 08:16] mmikkel commented on #35
Not really that I can think of. You could check out the [Spoon plugin](https://plugins.craftcms.com/spoon), maybe it has a solution for this.

The fact that MatrixMate doesn't hide blocks is a deliberate design choice on our end. If the blocks were simply hidden (i.e. with CSS) in the control panel, users would inevitably run into the awkward situation were blocks that are hidden in the control pa

[2021-11-10 13:27] mmikkel commented on #31
Unable to reproduce this at all. If this was/is in fact an issue with MatrixMate, it might've been fixed in a previous release. Alternatively, the problem is due to some other JS error on the page.

If somebody is able to verify that this is still occurring, it'd be great if they could get in touch.

[2021-11-12 08:42] #31 closed

[2021-11-12 08:43] mmikkel commented on #36
Fixed in MatrixMate 1.3.0

[2021-11-12 08:43] #36 closed

[2021-12-10 09:46] TomDeSmet opened #37 "FR: UI elements and field layout"
It would be super nice if we could add UI elements such as headers and horizontal lines just like we can in the Craft field layout.
Also defining the width of a field so we can put multiple light switches next to each other would be superb.

So in short, recreate the field layout from Craft in MatrixMate :)

I the config I think headers and horizontal lines could be added between fields by using f

[2021-12-13 02:20] KarlBishop opened #38 "Grouped blocks aren't greyed-out on pageload when maxLimit threshold has been reached"
I have a lot of blocks with maxLimit=1 split across several groups.

When I edit an entry that's already reached the maxLimit for various blocks, they are not greyed-out when the page first loads.

They only become greyed-out after I add or delete a block.

[2021-12-13 13:43] belkin opened #39 "Config isn't applied correctly"
Hi

I have an issue with latest version of craft and matrixmate plugin where config isn't applied to sections/entryTypes correctly but '*' works fine.

Craft: 3.7.25.1
Matrixmate: 1.3.1

[code]

[2021-12-13 14:25] mmikkel commented on #39
Hi @belkin, thanks for reporting. Looks like the issue is isolated to _new entries_ (i.e. an entry that have never been saved) when using `'section:{sectionHandle}'` syntax for the config.

I'll get a fix in ASAP.

[2021-12-13 17:33] mmikkel commented on #38
Hi @KarlBishop, having trouble reproducing this. Could you share your `config/matrixmate.php` file?

[2021-12-13 17:33] mmikkel commented on #39
Should be fixed in [MatrixMate 1.3.2](https://github.com/vaersaagod/matrixmate/releases/tag/v1.3.2). Thanks for reporting!

[2021-12-13 17:33] #39 closed

[2021-12-13 17:41] mmikkel commented on #37
Hi @TomDeSmet, thanks for the suggestion(s)!

Have you seen the [UI Elements Field](https://plugins.craftcms.com/ui-element-fields) plugin? It lets you create Matrix sub-fields that render native Craft UI elements. Seems like a decent solution for the time being.

Configuring Matrix sub fields' width is supported in Craft core, not sure why we should add the same capability to MatrixMate?

[2021-12-13 20:04] KarlBishop commented on #38
Yes, here it is:

    <?php

    return [
        'fields' => [
            'formFields' => [
                'groups' => [
                  [
                    'label' => 'Name',
                    'types' => ['firstName', 'lastName'],
                  ],
                  [
                    'label' => 'Contact',
                    'types' => ['email', 'tel', 'emailOptIn', 'telOptIn'],

[2021-12-13 21:09] mmikkel commented on #38
Thank you @KarlBishop – should be resolved in [MatrixMate 1.3.3](https://github.com/vaersaagod/matrixmate/releases/tag/v1.3.3).

[2021-12-15 10:31] TomDeSmet commented on #37
My God, so sorry, I forgot about both of these.
Pretend this post never happened :)

[2021-12-15 10:31] #37 closed

[2022-01-21 10:02] Antimated opened #40 "Ability to disable a specific type on a specific section but preserve default groups and types from global config"
Hi!

Is there any way that I can disable 1 type on a specific section without losing all my groups and types? I tried using the `*`global config to set my defaults and to overwrite 1 type like so:

![Screenshot 2022-01-21 at 10 50 41](https://user-images.githubusercontent.com/2869409/150505589-82f1a099-4f46-4707-ad5d-244a5ceeccf1.png)

but it seems that I have to set my groups and types manually f

[2022-01-21 10:38] mmikkel commented on #40
Hi @Antimated – the current behaviour is by design; look [here](https://github.com/vaersaagod/matrixmate/issues/29) for more details and a workaround.

[2022-01-21 10:38] #40 closed

[2022-02-08 17:15] itsmattsoria opened #41 "Control Over Default Tab Order"
I would definitely call this an enhancement, but here's the scenario:

I want all fields except for one to be displayed in the initial tab of a matrix field, and then I want this one field (a purely instructional field using [UI Elements Fields](https://plugins.craftcms.com/ui-element-fields)) to be displayed in its own tab. It'd be great to only have to specify this special case tab in the Matrix

[2022-02-10 21:00] mmikkel commented on #41
Hi @itsmattsoria – unless I misunderstand you, it sounds like the [`defaultTabFirst`](https://github.com/vaersaagod/matrixmate#defaulttabfirst-bool) setting already covers the use case? And, you can use the [`defaultTabName`](https://github.com/vaersaagod/matrixmate#defaulttabname-stringbool) setting to give the default tab a different name (e.g. "Content", instead of "Fields").

Something like th

[2022-02-10 21:10] itsmattsoria commented on #41
@mmikkel wow, how did I not see that option in the documentation? It's there! Thank you — disregard!

[2022-02-10 21:10] #41 closed, assigned to nobody

[2022-03-04 17:51] rungta commented on #21
@mmikkel Any chance of upvoting this feature request? 😬

A use case we run into often — we have a matrix field for capturing links with two block types. One with an entry field for internal links and one with a URL field for external links. We use this field in various contexts, and in most contexts the thing we want to restrict is the maximum number of blocks (regardless of type). For example, in

[2022-03-09 08:16] mmikkel commented on #21
Hi @rungta, upvote registered :)

[2022-03-15 13:23] Antimated opened #43 "Craft 4 support"
Any plans to support Craft CMS 4? I'm just wondering because I'm checking every plugin that our company uses on a regular basis :)

EDIT: can't currently install it via the plugin store, didn't try installing it via CLI though.

[2022-03-15 13:32] mmikkel commented on #43
Yeah, I expect we'll get a version out in time for the GA release.

[2022-04-04 16:51] pixelmachine opened #44 "MatrixMate CSS loading in Commerce email previews"
MatrixMate's CSS is loading on Commerce email previews and causing layout issues. Specifically:
A URL like this `/index.php?p=admin/actions/commerce/email-preview/render&emailId=1`
Loads `MatrixMate.css`

Here's a [related issue](https://github.com/craftcms/commerce/issues/1950) on Commerce and [the resolution](https://github.com/internetztube/craft-slug-equals-title/issues/12) on the plugin causi

[2022-04-04 21:16] mmikkel commented on #44
Thanks for reporting that! That's pretty awkward and I was not aware of that issue.

I'd actually consider this a Commerce bug, but I'm going to leave my thoughts on the matter in the Commerce repo issue you linked to.

In any case – yes, MatrixMate could be smarter about not registering its asset bundle for every control panel request, so I'll look into improving that ASAP.

[2022-04-05 09:52] mmikkel commented on #44
Should be resolved in [MatrixMate v. 1.4.0](https://github.com/vaersaagod/matrixmate/releases/tag/v1.4.0)!

[2022-04-05 09:52] #44 closed

[2022-04-23 12:09] mmikkel commented on #43
Just tagged v. 2.0.0-beta.1, which is compatible with the latest Craft 4.0 beta release. This is a major refactor of the plugin, hence the beta – we'll have a stable release out around the 4.0 GA release.

[2022-05-03 04:01] leevigraham opened #45 "[Craft4] - Saving entry with error breaks tabs"
On a fresh load:

![image](https://user-images.githubusercontent.com/25124/166403129-d97d62df-d343-48af-bcd1-129f4d19dab9.png)

Saving the entry (Save and Continue) with an error in a matrix block:

![Screen Shot 2022-05-03 at 1 59 28 pm](https://user-images.githubusercontent.com/25124/166403080-9f39fa64-6116-4ad6-be09-d04b1a94ec82.png)

![Screen Shot 2022-05-03 at 1 59 21 pm](https://user-images.

[2022-05-03 07:08] mmikkel commented on #45
Thanks for reporting that! Just tagged MatrixMate 2.0.0-beta.2, which should fix the issue.

[2022-05-03 07:08] #45 closed

[2022-05-04 22:05] mmikkel commented on #43
Just tagged v. 2.0.0.

[2022-05-04 22:05] #43 closed

[2022-05-09 12:47] green17 opened #46 "Possible conflict with Workflow plugin?"
We're getting an error (Attempt to read property "id" on string) when trying to approve an entry using the [Workflow plugin](https://verbb.io/craft-plugins/workflow/features)

![Screenshot 2022-05-09 at 1 47 01 pm](https://user-images.githubusercontent.com/1113904/167412861-c9e652f5-757c-4ac8-b390-fab17105add7.png)

[2022-05-09 13:00] mmikkel commented on #46
That's odd, from Yii's PHPDoc `ActionEvent::$action` is supposed to be an instance of `\yii\base\Action`, not a string – so this is likely a problem with the Workflow plugin.

In any case, I just tagged MatrixMate v. 1.4.3 which should resolve the issue by making sure `$action` is the proper type.

[2022-06-20 18:29] CreateSean opened #49 "Bug - hiddenTypes - doesn't work when groups added"
Craft 4.0.3
MatrixMate 2.0.1

Using this config with groups commented out the hiddenTypes in the fragments section works as expected.

[code]

However when I uncomment the groups groups works as expected and the fragment is now visible

[code]

[2022-06-20 20:28] mmikkel commented on #49
You're using the wrong syntax for the [config override](https://github.com/vaersaagod/matrixmate#config-contexts), which confuses MatrixMate. It should probably look like this:

[code]

[2022-06-20 20:28] #49 closed

[2022-06-20 20:58] CreateSean commented on #49
That still doesn't work.

Here is what I have with the wildcard for the groups

[code]

This does not hide the fragments in the fragments channel and is not using the groups from the wildcard.

If I copy the groups from the wildcard into the section:fragments now the fragments channel is using groups, but I have to **create them twice** and the fragment is **not** hidden.

[2022-06-20 21:10] mmikkel commented on #49
MatrixMate config contexts are not inherited, i.e. the global config (`*`) will not be merged into your `'section:fragments'` config – which is why you have to "create them twice". This is by design and working as intended, see #29 and the section I just added to the readme (as this has come up a few times) for an explanation and a workaround.

So, your last example should actually work – but it l

[2022-06-21 12:41] CreateSean commented on #49
Thank you - I did have a typo and used the updated readme to get it working with this:

[code]

[2022-06-21 12:42] mmikkel commented on #49
@CreateSean Great, thanks for the follow-up!

[2022-07-13 20:05] daltonrooney opened #51 "Not loading in recent versions of Craft 3.7.x"
I'm not sure exactly when this started, but it appears that MatrixMate assets aren't loading in the CP in recent versions of 3.7.  Possibly related? https://github.com/craftcms/cms/issues/11033#issuecomment-1111836993

`Craft::$app->getUser()->checkPermission('accessCp')` always returns false in the `onAfterLoadPlugins()` method. Changing the event that loads that method to `Application::EVENT_INI

[2022-07-13 22:54] mmikkel commented on #51
I'm not able to reproduce that, so it's likely due to a conflict with some other plugin (or a custom module) installed on your end.

You're probably right that this is likely the same issue as https://github.com/craftcms/cms/issues/2473 (and the one you linked, which is basically the same problem – i.e. https://github.com/craftcms/cms/issues/11033).

I just cut a release [1.4.5](https://github.com

[2022-07-13 22:54] #51 closed

[2022-07-14 01:25] daltonrooney commented on #51
Thanks for the detailed background info and pushing a fix so quickly! We’ll be moving this site to Craft 4.1 before the end of the summer but we did deactivate all plugins as part of our testing process before I submitted this so that’s still a mystery.

[2022-07-14 06:53] mmikkel commented on #51
@daltonrooney What about custom modules?

[2022-07-14 19:13] mmikkel commented on #51
@daltonrooney Right on, thanks for the follow-up!

[2022-08-05 15:50] mmikkel commented on #20
Took me long enough, but I just added a new [`ungroupedTypesPosition`](https://github.com/vaersaagod/matrixmate#ungroupedtypesposition-string) field config setting that should resolve this 🎉

Added to both the Craft 3 and Craft 4 compatible plugins (`1.5.0` and `2.1.0`, respectively).

[2022-08-05 15:51] #20 closed

[2022-08-08 22:25] eve-prefix opened #53 "Conflict with SuperTable - triggers "Showing your unsaved changes.""
### Versions
Craft 4.2.0.2
Super Table 3.0.0
MatrixMate 2.1.0

### Issue
When using a Matrix block containing a Super Table field with either an Entry field or a Category field, if the Super Table field is shown in a tab, the "Showing your unsaved changes." message is automatically triggered even if nothing on the page has been changed. This issue does not happen when the Super Table fields are no

[2022-09-02 02:28] pl-mnm commented on #21
This feature request gets my vote as well!

[2022-10-04 18:08] bpurtoncc opened #55 "Commerce support"
Is there any way to have matrixmate settings work for products when using commerce?

[2022-10-05 08:25] mmikkel commented on #53
Thanks for reporting that.

Seems there's a problem with MatrixMate block tabs in general on later Craft 4 versions, where changing tabs creates a new autosaved draft (regardless of what fields are in the different tabs or not). Not sure when this started occurring, but it was definitely not an issue on Craft 4.0.

[2022-10-05 08:26] mmikkel opened #56 "[Craft 4] Switching between MatrixMate block tabs causes Craft to create a new auto-saved draft"
As reported by #53, but seems to occur regardless of what fields are in the different tabs or not.

[2022-10-05 08:27] mmikkel commented on #53
Closing this in favor of the above issue ☝️

[2022-10-05 08:27] #53 closed

[2022-10-05 08:34] mmikkel commented on #55
MatrixMate doesn't support Commerce products, and we don't plan to add it ATM. But, I'll label this as a feature request.

In the interim, possibly [Spoon](https://plugins.craftcms.com/spoon?craft4) supports Commerce?

[2022-11-07 06:58] wmdhosting opened #57 "Craft 4.3.1 - Prevent loading of other elements.."
I have big matrix field and this hapens.. on load..

https://user-images.githubusercontent.com/76176291/200244274-25a8f614-275b-41e4-a653-bb250a8de0d8.mp4

When i disable MatrixMate ..

Matrix content load quite fast..

Any idea

Im on last version of Matrix mate..2.1.1

[2022-11-07 08:39] mmikkel commented on #57
It's probably one of two things:

1. Since there's so much stuff in the Matrix field, MatrixMate uses a long time to parse the field (and the existing blocks on pageload). I haven't seen that before, but I guess it's possible for very massive fields.

2. Something else is taking a long time to load or render, blocking MatrixMate from initialising the field.

If you could share a database dump + `c

[2022-11-07 08:50] wmdhosting commented on #57
ok. sent on discord..thx

[2022-11-07 15:30] mmikkel commented on #57
Based on the files @wmdhosting sent me (thanks!), I've done some debugging and benchmarking.

The delay in MatrixMate initialising on your "Page Builder" field is primarily due to point 2) above. There is so much stuff going on in your edit page (tons of plugins, blocks, nested fields etc) that it takes a long time (about 5-6 seconds, testing on my Mac) before the browser even has a chance to init

[2022-11-07 15:39] wmdhosting commented on #57
OK, thank you very much for info.
Will do more testing.. with all plugins..

[2022-11-10 11:46] yahm23 opened #58 "MaxLimit doesn't prevent CMS user from breaking this"
Setup:
- Craft 4 (4.0.0)
- php 8.1.0
- Matrixmate 2.1.1

We are trying to set a maximum limit of a certain block in a matrix field. The matrix mate config file looks like this:
[code]
The objective is to limit the `thankYouPanel` to a maximum of 1.
This partially works as expected; within our contenMain matrix in the CP we can add a single `thankYouPanel` block. After this, the button is greyed ou

[2022-11-10 15:16] #57 closed

[2022-11-10 16:53] #58 closed

[2022-11-10 16:56] mmikkel commented on #58
Thanks for reporting that! Should be fixed in [v. 2.1.2](https://github.com/vaersaagod/matrixmate/releases/tag/v2.1.2).

[2022-11-22 09:32] wallythewebdev opened #59 "Passing an array of Matrixes"
Hi,

Was just wondering if there is a way to pass a array of matrixes that all have the same fields instead of adding them all individually:

I.e a group of matrixes that are the same but have different fields as they are being used on the same page in different places (the pain of not having a matrix in a matrix)

[code]

[2022-11-22 09:35] mmikkel commented on #59
Nope, there's no support for that syntax. But, you can set the common config to a PHP variable, and pass that to the different fields:

[code]

[2022-11-22 09:35] #59 closed

[2022-11-22 09:47] wallythewebdev commented on #59
Oh thats so cool!
Great thanks for the info!